---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=tq72hpvtbbd4mue6f23kmsw2&format=json&pageSize=2&show=storeId,storeType,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-120.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 2,
          "total": 17,
          "currentPage": 1,
          "totalPages": 9,
          "queryTime": "0.005",
          "totalTime": "0.015",
          "partial": false,
          "canonicalUrl": "/v1/stores(area(\"80202\",25))?show=storeId,storeType,name&format=json&apiKey=tq72hpvtbbd4mue6f23kmsw2",
          "stores": [
            {
              "storeId": 2740,
              "storeType": "Mobile",
              "name": "Cherry Creek Shopping Center"
            },
            {
              "storeId": 1224,
              "storeType": "BigBox",
              "name": "Belmar"
            }
          ],
          "warnings": "Distances are in terms of miles (default)"
        }
  recorded_at: Tue, 02 Aug 2016 17:24:14 GMT
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=tq72hpvtbbd4mue6f23kmsw2&format=json&pageSize=2&show=storeId,storeType,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-107.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 2,
          "total": 17,
          "currentPage": 1,
          "totalPages": 9,
          "queryTime": "0.005",
          "totalTime": "0.015",
          "partial": false,
          "canonicalUrl": "/v1/stores(area(\"80202\",25))?show=storeId,storeType,name&format=json&apiKey=tq72hpvtbbd4mue6f23kmsw2",
          "stores": [
            {
              "storeId": 2740,
              "storeType": "Mobile",
              "name": "Cherry Creek Shopping Center"
            },
            {
              "storeId": 1224,
              "storeType": "BigBox",
              "name": "Belmar"
            }
          ],
          "warnings": "Distances are in terms of miles (default)"
        }
  recorded_at: Tue, 02 Aug 2016 17:24:14 GMT
recorded_with: VCR 3.0.3
