---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=tq72hpvtbbd4mue6f23kmsw2&format=json&pageSize=15&show=storeType,name,city,distance,phone
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-126.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 15,
          "total": 17,
          "currentPage": 1,
          "totalPages": 2,
          "queryTime": "0.003",
          "totalTime": "0.012",
          "partial": false,
          "canonicalUrl": "/v1/stores(area(\"80202\",25))?show=storeType,name,city,distance,phone&format=json&apiKey=tq72hpvtbbd4mue6f23kmsw2",
          "stores": [
            {
              "storeType": "Mobile",
              "name": "Cherry Creek Shopping Center",
              "city": "Denver",
              "distance": 3.25,
              "phone": "303-270-9189"
            },
            {
              "storeType": "BigBox",
              "name": "Belmar",
              "city": "Lakewood",
              "distance": 5.28,
              "phone": "303-742-8039"
            },
            {
              "storeType": "BigBox",
              "name": "Colorado Blvd",
              "city": "Denver",
              "distance": 5.61,
              "phone": "303-758-5805"
            },
            {
              "storeType": "BigBox",
         [...]
[...]
